# dependencies
/node_modules
# production build files
/dist
# local env files
.env.local
.env.*.local
# typescript cache
.tsbuildinfo
# vite-plugin-pwa files
.cache
# storybook
storybook-static
# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.suo
*.user
*.ilk
*.meta
*.obj
*.pdb
*.opendb
*.VC.db
